.main-btn {
  padding: 10px 30px;
  color: #fff;
  background-color: #21B573;
  border: none;
  border-radius: 500px;
  font-family: 'Roboto', sans-serif;
}

.section-heading {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 40px 0px;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-weight: 500;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

#navbar {
  background: #F0FFF0;
}

#home {
  background: #F0FFF0;
  padding: 70px 0px;
}

#home h6 {
  color: #FD511A;
}

.home-text h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
}

.home-text span {
  color: #21B573;
}

.home-text p {
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400
}

.category-box {
  margin: 30px 15px;
  padding: 30px 0px;
  background: #F0FFF0;
  border-radius: 10px;
  text-align: center;
  width: 250px;
}

.category-img {
  border-radius: 0px;
  margin-bottom: 10px;
  height: 85px;
}

.category-text {
  font-family: 'Poppins', sans-serif;
}

.category-text h4 {
  font-size: 24px;
  font-weight: 500;
}

.category-text p {
  font-size: 16px;
  font-weight: 400;
}

.course-catagory {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin: 10px 10px;
  width: 350px;
}

.courses-img {
  padding: 10px 0;
}

.courses-text {
  margin: 20px 10px;
  /* font-family: 'Poppins', sans-serif; */
}
.courses-text h4{
  font-family: 'Poppins', sans-serif;
  
}


/* font name 
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
*/
