#header {
  background: #F0FFF0;
}

.main-btn {
  padding: 10px 30px;
  color: #fff;
  background-color: #21B573;
  border: none;
  border-radius: 500px;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-weight: 500;
  color: #000;
}